<div class="row container mx-auto my-3">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        Edit
      </h1>
      <form action="/profile/{{user.id}}/edit?_method=PUT" method="POST">
        <div class="form-group">
          <label for="name">姓名</label>
          <input type="text" id="name" name="name" class="form-control" placeholder="名稱" value="{{user.name}}" />
        </div>
        <div class="form-group">
          <label for="image">大頭貼</label>
          <input type="text" id="image" name="image" class="form-control" placeholder="圖片網址" value="{{user.image}}" />
        </div>
        <div class="form-group">
          <label for="phone">聯絡電話</label>
          <input type="text" id="phone" name="phone" class="form-control" placeholder="手機或電話" value="{{user.phone}}" />
        </div>
        <div class="form-group">
          <label for="birthday">生日</label>
          <input type="text" id="birthday" name="birthday" class="form-control" placeholder="生日"
            value="{{user.birthday}}" />
        </div>
        <div class="form-group">
          <label for="location">所在地</label>
          <input type="text" id="location" name="location" class="form-control" placeholder="所在地"
            value="{{user.location}}" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          修改
        </button>
      </form>
    </div>
  </div>
</div>